<div class="filtri-corso">

    <h4>Filtra tra i corsi</h4>

    <form>
        <div class="barra-ricerca">
            <input class="ricerca" type="text" placeholder="Cerca per parola chiave...">

        </div>
        <div>Ricerca avanzata: <i class="fas fa-chevron-down" (click)="toggleAdvancedSearch($event)"></i></div>
        <div class="prova-grid height-zero" data-search>
            <div class="prova-filtri">
                <div>
                    <label>Prezzo</label><br />
                    <select name="prezzo">
                        <option value="*">--Tutti--</option>
                        <option value="0">Gratis</option>
                        <option value="1">A pagamento</option>
                    </select>
                </div>

                <div>
                    <label>Categorie</label><br />
                    <select name="categoria" (change)="scegliCategoria($event)">
                        <option value="*">--Tutte--</option>
                        <option *ngFor="let cat of categorie" [value]="cat">{{cat}}</option>
                    </select>
                </div>

                <div>
                    <label>Certificazione</label><br />
                    <select name="certificazione">
                        <option value="*">--Tutti--</option>
                        <option value="0">Senza certificazione</option>
                        <option value="1">Con certificazione</option>
                    </select>
                </div>

                <div class="durata">
                    <!-- <select name="durata">
                        <option value="*">--Qualsiasi durata--</option>
                        <option *ngFor="let durata of durate" [value]="durata">{{durata}}</option>
                    </select> -->
                    <label>Durata (ore)</label><br />
                    <input type="number" placeholder="Min">
                    <input type="number" placeholder="Max">
                </div>
            </div>
            <div class="categorieScelte" *ngIf="categorieScelte.length > 0">
                <h4>Categorie scelte:</h4>
                <!-- Angular Material -->
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip *ngFor="let cat of categorieScelte" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(cat)">
                        {{cat}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
                <!-- fine Angular Material -->
            </div>
        </div>
        <div class="bottone-cerca"><button type="submit">Cerca</button></div>
    </form>
</div>
<!-- </div> -->