@import "../../variabili.scss";

.footerWrapper{
    background-color: $verdinoScuro;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    ._container{
        width: $dimensioniContainer;
        margin: auto;
        
    }
}
