@import "../../variabili.scss";

.footerWrapper{
    background-color: $color1;
    color: $color3;
    width: 100%;
    min-height: 6rem;
    position: absolute;
    bottom: -50px;
    left: 0;
    padding: 1rem;
    margin-top: 2rem;
    ._container{
        width: $dimensioniContainer;
        margin: auto;
    }
}
