<div class="calendario-corsi">
    <h4>Calendario corsi</h4>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Lun</th>
                <th>Mar</th>
                <th>Mer</th>
                <th>Gio</th>
                <th>Ven</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>08:00</th>
                <td class="lun am8"></td>
                <td class="mar am8"></td>
                <td class="mer am8"></td>
                <td class="gio am8"></td>
                <td class="ven am8"></td>
            </tr>
            <tr>
                <th>09:00</th>
                <td class="lun am9"></td>
                <td class="mar am9"></td>
                <td class="mer am9"></td>
                <td class="gio am9"></td>
                <td class="ven am9"></td>
            </tr>
            <tr>
                <th>10:00</th>
                <td class="lun am10"></td>
                <td class="mar am10"></td>
                <td class="mer am10"></td>
                <td class="gio am10"></td>
                <td class="ven am10"></td>
            </tr>
            <tr>
                <th>11:00</th>
                <td class="lun am11"></td>
                <td class="mar am11"></td>
                <td class="mer am11"></td>
                <td class="gio am11"></td>
                <td class="ven am11"></td>
            </tr>
            <tr>
                <th>12:00</th>
                <td class="lun am12"></td>
                <td class="mar am12"></td>
                <td class="mer am12"></td>
                <td class="gio am12"></td>
                <td class="ven am12"></td>
            </tr>
            <tr>
                <th colspan="6">Pausa</th>
            </tr>
            <tr>
                <th>14:00</th>
                <td class="lun pm2"></td>
                <td class="mar pm2"></td>
                <td class="mer pm2"></td>
                <td class="gio pm2"></td>
                <td class="ven pm2"></td>
            </tr>
            <tr>
                <th>15:00</th>
                <td class="lun pm3"></td>
                <td class="mar pm3"></td>
                <td class="mer pm3"></td>
                <td class="gio pm3"></td>
                <td class="ven pm3"></td>
            </tr>
            <tr>
                <th>16:00</th>
                <td class="lun pm4"></td>
                <td class="mar pm4"></td>
                <td class="mer pm4"></td>
                <td class="gio pm4"></td>
                <td class="ven pm4"></td>
            </tr>
            <tr>
                <th>17:00</th>
                <td class="lun pm5"></td>
                <td class="mar pm5"></td>
                <td class="mer pm5"></td>
                <td class="gio pm5"></td>
                <td class="ven pm5"></td>
            </tr>
            <tr>
                <th>18:00</th>
                <td class="lun pm6"></td>
                <td class="mar pm6"></td>
                <td class="mer pm6"></td>
                <td class="gio pm6"></td>
                <td class="ven pm6"></td>
            </tr>
        </tbody>
    </table>
</div>
