<div class="dettagliCorsoWrapper">
    <div *ngIf="corso" class="dettagliContainer">
        <h2>{{corso.name}}</h2>
        <div class="dettagli-main-content">
            <div class="left-side">


                <div class="descrizione">
                    <h4>Descrizione</h4>
                    <p>
                        {{corso.program}}
                    </p>
                    <ul>
                        <li>
                            Durata: {{corso.duration}}
                        </li>
                    </ul>
                </div>


                <div class="programma">
                    <h4>Programma</h4>
                    <ul *ngIf="edizioni">
                        <li *ngFor="let edizione of edizioni">
                            <button (click)="viewEditionDetails({{edizione.id}})">Vedi dettagli</button>
                            {{edizione.id}}
                        </li>
                        <li>
                            
                        </li>
                    </ul>
                    <ul *ngIf="moduli">
                        <li *ngFor="let modulo of moduli">
                           {{modulo.id}}
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>
