@import "../../variabili.scss";

.dettagliCorsoWrapper {
    // min-height: 100vh;
    
    position: relative;
    padding-top: 6rem;
    width: $dimensioniContainer;
    margin: 0 auto 1rem auto;

    h4 {
        font-weight: bold;
        text-transform: uppercase;
    }
    
    h2 {
        text-align: center;
        margin: 0;
        padding-bottom: 1rem;
    }

    .dettagliContainer {
        padding: 1.5rem;
        margin-top: 1rem;
        background-color: #fff;

    }

    .dettagli-main-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;

        .left-side {
            width: 60%;
            height: 100%;
            >* {
                padding: 1rem;
            }

            
            .descrizione {
                // background-color: $color2-l;
                // margin-bottom: 2rem;

                ul {
                    padding-left: 2rem;
                    
                    li{
                        list-style: none;
                    }
                }
            }
            
            .programma {
                // background-color: $color2-l;

                ul {
                    padding-left: 2rem;
                }
            }
        }

        .right-side {
            width: 35%;
            height: 100%;
            // background-color: $color2-l;

            >* {
                padding: 1rem;
                margin: 0;
            }

            ul {
                padding-left: 2rem;
                // padding-top: 0;
                list-style: none;
            }
        }  

        @media screen and (max-width: 660px) {
            display: block;

            .left-side,
            .right-side {
                width: 100%;
            }

            .left-side .descrizione {
                margin: 0;
            }
        }

    }

    .pop-up{
        position: absolute;
        background-color: rgb(204, 109, 109);
        width: 80%;
        height: 60%;
        left: 10%;
        top: 30%;
    }
    .sNero{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.397);
        width: 100hw;
        height: 100hv;
    }


    @media screen and (max-width: 800px) {
        width: 80%;
    }
}