
<div class="navbarWrapper" (scroll)="onWindowScroll()">
    <div class="logo"><img src="../../assets/img/thinkSharpLogo.png" /> </div>
    <ul>
        <li (click)="redirectToHome()">Home</li>
        <!-- <li (click)="redirectToLavoro()">Offerte lavoro</li> -->
        <li (click)="redirectToCorsi()">Corsi</li>
        <li (click)="redirectToContatti()">Contattaci</li>
        <li (click)="redirectToProfilo()">Il mio profilo</li>
    </ul>
    <span class="hamburger-menu">
        <i class="fas fa-bars"></i>
    </span>
</div>
