@import "../../variabili.scss";
.logo{
    position:absolute;
    width: 11rem;
    top: .2rem;
    // line-height: 6.8rem;
}
.logo img{
    width: 100%;
    border-radius: 10rem;
}
.navbarWrapper{
    position: fixed;
    background-color: $verdino;
    color: $marroncino;
    width: 100%;
    height: 4rem;
    line-height: 2rem;
    margin-bottom: 4rem;
    top: 0;
    left: 0;

    ul{
        display: flex;
        list-style: none;
        width: $dimensioniContainer;
        margin: auto;
        justify-content: flex-start;

        li{
            padding: 1rem;
            cursor: pointer;
            transition: all .4s linear;
            &:hover{
                background-color: $verdinoScuro;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 800px){
    .logo{
        position:absolute;
        justify-content: center;
        justify-self: center;
        line-height: 6rem;
        width: 9rem;
        margin: auto;
    }
}

@media screen and (max-width: 660px){

    //da qui in poi mettiamo il menu a hamburger

    .logo{
        position:absolute;
        justify-content: center;
        justify-self: center;
        line-height: 5rem;
        width: 6rem;
        margin: auto;
    }
}