@import "../../variabili.scss";

.profiloWrapper {
    width: $dimensioniContainer;
    margin: auto;
    margin-bottom: 2rem;
    padding-top: 4rem;
    padding-bottom: 1rem;

    h2 {
        padding: 1rem;
    }


    .profilo-main-content {
        display: flex;
        justify-content: space-between;
        height: 100%;

        aside {
            width: 35%;
            height: 100%;
        }

        main {
            width: 60%;
            height: 100%;
        }
    }

    @media screen and (max-width:1000px) {
        width: 80%;
    }

    @media screen and (max-width: 800px) {
        width: 90%;
    }

    @media screen and (max-width: 660px){
        .profilo-main-content {
            display: block;
        }

        .profilo-main-content aside,
        .profilo-main-content main {
            width: 100%;
        }
    }
}