<div class="info-personali">
    <div class="immagine-profilo">
        <img src="https://www.pngitem.com/pimgs/m/522-5220445_anonymous-profile-grey-person-sticker-glitch-empty-profile.png" alt="">
    </div>
    <p>Nome: <span>{{utente.nome}}</span></p>
    <p>Cognome: <span>{{utente.cognome}}</span></p>
    <p>Telefono: <span>{{utente.tel}}</span></p>
    <p>E-mail: <span>{{utente.email}}</span></p>
    <p>Indirizzo: <span>{{utente.indirizzoStradale}}, {{utente.citta}} ({{utente.provincia}})</span></p>
    <p>Data di nascita: <span>{{utente.dataNascita}}</span></p>
</div>
