<ul class="lista-corsi">
    <li *ngFor="let corso of corsi; let pari = even; let dispari = odd">
        <div class="corso" [class.bgColor2-l]="pari" [class.bgColor1]="dispari">
            <h3 (click)="mostraDettagli(corso.id)">
                <!-- <a routerLink="corso/dettagli/{{corso.id}}"> -->
                {{corso.titolo}}
            </h3>
            <div class="duration">
                <!-- <i class="fas fa-map-marker-alt"></i> -->
                <h5>{{corso.durata}} ore</h5>
            </div>
            <p>{{corso.programma}}</p>
        </div>
    </li>
</ul>


