<ul *ngIf='corsi.length != 0; else elseBlock' class="lista-corsi">
    <li *ngFor="let corso of corsi; let pari = even; let dispari = odd">
        <div class="corso" [class.bgColor2-l]="pari" [class.bgColor1]="dispari">
            <h3 (click)="mostraDettagli(corso.id)">
                <!-- <a routerLink="corso/dettagli/{{corso.id}}"> -->
                {{corso.name}}
            </h3>
            <div class="duration">
                <!-- <i class="fas fa-map-marker-alt"></i> -->
                <h5>{{corso.duration}} ore</h5>
            </div>
            <p>{{corso.program}}</p>
        </div>
    </li>
</ul>

<ng-template #elseBlock>
    <h2>Nessun corso trovato</h2>
</ng-template>


