@import "../../../variabili.scss";

.lista-corsi {
    list-style: none;
    width: 100%;
  
    .corso {
        margin-bottom: 1rem;
        border-radius: .5rem;
        padding: 1rem;
        box-shadow: 1px 1px 10px rgba(5,22,40,0.5);
        color: $color1;

        &.bgColor2-l{
            background-color: $color2-l;
        }

        &.bgColor1 {
            background-color: #fff;
        }

        h3 {
            cursor: pointer;
            font-weight: bold;
            font-size: 1.3rem;
        }

        .duration {

            h5 {
                display: inline-block;
                padding-left: .5rem;
            }
        }
    }
}
