@import "../../variabili.scss";

.titoloEfiltro{
    padding-top: 4rem;
    padding-bottom: 1rem;
    width: $dimensioniContainer;
    margin: auto;
    
        h2 {
            padding: 1rem;
        }
    
    .filtri-corso {
        background-color: #fff;
        padding: 1rem;
        box-shadow: 1px 1px 10px $marroncino;
        margin-bottom: 5rem;

        .fa-chevron-down, .fa-chevron-up{
            font-size: large;
            cursor: pointer;
            margin-top: 0.5rem;            
        }

        .barra-ricerca{
            display: flex;
            height: 2rem;
           
        
            
            input.ricerca {
                width: 100%;
                height: 100%;
                outline: none;
                border: 1px solid grey;
                border-radius: 7px;
                }

        }
        

        

        

        .prova-grid{
            top: 80%;
            left: 0;
            width: 100%;
            position: relative;
                       
            
            .prova-filtri{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                transition: all .9s ease;
                
                &.height-full{
                    height: auto;
                }
                
                &.height-zero{
                    height: 0;
                    overflow: hidden;
                }
                
                >*{
                    margin: 1rem;
                    width: 150px;
                    text-align: center;
                }
                
                
                
                select{
                    width: auto;
                    padding: .3rem;
                    outline: none;

                    option:first-child{
                        color: gray;
                    }
                }
                
                .durata{
                    input{
                        max-width: 40%;
                        padding: .3rem;
                    }
                }
            }

        }
        
        
        .categorieScelte {
            padding-top: 1rem;

            mat-chip {
                background-color: $marroncino;
                color: #fff;
            }
        }
    }

    .bottone-cerca{
        text-align: center;

        button{
            padding: .3rem 1rem;
            text-transform: uppercase;
            border-radius: 7px;
            border: 1px solid grey;
            font-weight: bold;
            }
    }
    

}



.home-main-content {
    display: flex;
    justify-content: space-around;
}

.lista-corsi {
    list-style: none;
    // width: calc(100% - 230px);
    // width: 85%;
    width: $dimensioniContainer;
    
    .corso {
        background-color: #fff;
        margin-bottom: 2rem;
        border-radius: .5rem;
        padding: 1rem;
        box-shadow: 1px 1px 10px $marroncino;

        h3 {
            cursor: pointer;
        }

        .location {
            padding: .7rem 0;
            
            h5 {
                display: inline-block;
                padding-left: .5rem;
            }
        }
    }
}


@media screen and (max-width: 450px) {

    .home-main-content {
        justify-content: flex-start;
    }

    .filtri-lavoro {
        display: none;
    }

    .filtri-piccolo {
        display: block;
    }

    .lista-lavori {
        width: calc(100% - 80px);
        margin-left: 1rem;
    }


}
