@import "../../variabili.scss";

.titoloEfiltro{
    padding-top: 4rem;
    padding-bottom: 1rem;
    width: $dimensioniContainer;
    margin: auto;
    
        h2 {
            padding: 1rem;
        }
}    

.home-main-content {
    // display: flex;
    // justify-content: space-around;
    width: $dimensioniContainer;
    margin: auto;
}


@media screen and (max-width: 450px) {

    .home-main-content {
        justify-content: flex-start;
    }
 }
