 <div class="titoloEfiltro">
    <h2>I nostri corsi</h2>
    <app-filtri-corso></app-filtri-corso>
</div>

<div class="home-main-content">
    <app-lista-corsi></app-lista-corsi>
</div>


<!-- <div class="lista-filtri">
    <label>
        Gratis
        <input type="checkbox" checked>
    </label>
    <label>
        A pagamento
        <input type="checkbox" checked>
    </label>
    <span>   
        <select>
            <option value="">--Scegli una città--</option>
            <option *ngFor="let corso of corsi">{{corso.citta}}</option>
        </select>
    </span>
        <select>
        <option value="">--Scegli durata--</option>
        <option *ngFor="let corso of corsi">{{corso.durata}}</option>
    </select>
    <button type="submit">Cerca</button>
</div>  -->