@import "../../variabili.scss";

h2 {
    width: $dimensioniContainer;
    margin: auto;
    padding: 6rem 0 2rem 0;
}

.home-main-content {
    display: flex;
    justify-content: space-around;
}

.filtri-lavoro {
    height: 50rem;
    width: 150px;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 1px 1px 10px $marroncino;
}

.filtri-piccolo {
    display: none;
    height: 50rem;
    width: 50px;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 1px 1px 10px $marroncino;
}

.lista-lavori {
    list-style: none;
    width: calc(100% - 230px);
    
    .lavoro {
        background-color: #fff;
        margin-bottom: 2rem;
        border-radius: .5rem;
        padding: 1rem;
        box-shadow: 1px 1px 10px $marroncino;

        h3 {
            cursor: pointer;
        }

        .location {
            padding: .7rem 0;
            
            h5 {
                display: inline-block;
                padding-left: .5rem;
            }
        }
    }
}


@media screen and (max-width: 450px) {

    .home-main-content {
        justify-content: flex-start;
    }

    .filtri-lavoro {
        display: none;
    }

    .filtri-piccolo {
        display: block;
    }

    .lista-lavori {
        width: calc(100% - 80px);
        margin-left: 1rem;
    }
}
