<h2>Le nostre offerte di lavoro</h2>
<div class="home-main-content">
    <aside class="filtri-lavoro">
        <h4>Filtra tra le offerte:</h4>
    </aside>
    <aside class="filtri-piccolo">
        <span>F</span>
    </aside>
    <ul class="lista-lavori">
        <li *ngFor="let lavoro of lavori">
            <div class="lavoro">
                <h3 (click)="mostraDettagli(lavoro.id)">{{lavoro.titolo}}</h3>
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <h5>{{lavoro.citta}}</h5>
                </div>
                <p>{{lavoro.descrizione}}</p>
            </div>
        </li>
    </ul>
</div>
