<h2>Le nostre offerte di lavoro</h2>
<div class="home-main-content">
    <aside class="filtri-lavoro">
        <h4>Filtra tra le offerte:</h4>
        <form>
            <select>
                <option value="">--Categoria--</option>
                <option (click)="selezionaCat('it')" value="it">IT</option>
                <option (click)="selezionaCat('cucina')" value="cucina">Cucina</option>
            </select>
            <div class="sottocategorie">
                <select id="it">
                    <option value="">--Sottocategoria--</option>
                    <option value="back-end">Back-end</option>
                    <option value="front-end">Front-end</option>
                </select>
                <select id="cucina">
                    <option value="">--Sottocategoria--</option>
                    <option value="asiatica">Asiatica</option>
                    <option value="casalinga">Casalinga</option>
                </select>
            </div>
            <button type="submit">Cerca</button>
        </form>
    </aside>
    <aside class="filtri-piccolo">
        <h4>Filtra:</h4>
    </aside>
    <ul class="lista-lavori">
        <li *ngFor="let lavoro of lavori">
            <div class="lavoro">
                <h3 (click)="mostraDettagli(lavoro.id)">{{lavoro.titolo}}</h3>
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <h5>{{lavoro.citta}}</h5>
                </div>
                <p>{{lavoro.descrizione}}</p>
            </div>
        </li>
    </ul>
</div>
