<div class="le-mie-competenze">
    <h4>Le mie competenze</h4>
    <div class="competenze-it">
        <h5>Competenze informatiche</h5>
        <ul>
            <li>
                <i class="fab fa-react"></i>
                <p>React</p>
                <p class="livello-competenza">Livello: base</p>
            </li>
            <li>
                <i class="fab fa-java"></i>
                <p>Java</p>
                <p class="livello-competenza">Livello: medio</p>
            </li>
            <li>
                <i class="fab fa-angular"></i>
                <p>Angular</p>
                <p class="livello-competenza">Livello: medio</p>
            </li>
        </ul>
    </div>
    <div class="competenze-cucina">
        <h5>Competenze culinarie</h5>
        <ul>
            <li>
                <i class="fas fa-cookie-bite"></i>
                <p>Cucina al forno</p>
                <p class="livello-competenza">Livello: esperto</p>
            </li>
            <li>
                <i class="fas fa-cocktail"></i>
                <p>Bartending</p>
                <p class="livello-competenza">Livello: base</p>
            </li>
        </ul>
    </div>
</div>
