$verdino:#c5d5cb;
$verdinoScuro:#9bada2;
$marroncino:#98a09b;
$marroncinoChiaro: #b2bdb6;
$marroncinoMoltoChiaro: #d1ddd5;
$beige:#e3e0cf;

$dimensioniContainer:60%;

$color1: #051622;
$color1-l: #2676af;
$color2: #1ba098;
$color2-l: #7fdbd6;
$color3: #deb992;
$color3-d: #b9936a;