<div class="homeWrapper">
    <div class="_jumbotron">
        <div class="_overlay"></div>
        <div class="_container">
            <div class="jumbotron-content">
                <h2>Think sharp!</h2>
                <h3>Scegli uno dei nostri corsi e inizia a creare il tuo futuro!</h3>
                <form class="cerca-corso" (ngSubmit)="onSubmit()">
                    <input [formControl]="formRicercaCorso" class="zIndex" type="text" placeholder="Cerca corso...">
                    <button type="submit">Cerca</button>
                </form>
            </div>
        </div>
    </div>
</div>
