@import "../../variabili.scss";

.contattiWrapper {
    width: $dimensioniContainer;
    margin: auto;
    margin-bottom: 2rem;
    padding-top: 4rem;

    @media screen and (max-width: 800px) {
        width: 100%;
        margin-bottom: 7rem;
    }
}


