@import "../../../variabili.scss";

.i-miei-corsi {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #fff;


    h4 {
        padding-bottom: 1rem;
        text-align: center;
    }

    ul {
        list-style: none;
    }
}
